<!DOCTYPE html>
<html>
  <head>
    <title>PROJECT 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class="right">
      <li>
        <a href="/auth/google">Login with Google</a>
      </li>
      <li>
        <a href="/logout">Log Out</a>
      </li>
    </ul>
<a href="/videos/new">New Video</a>
<a href="/videos">My Projects</a>
  </body>
</html>
