<!DOCTYPE html>
<html>
  <head>
    <title>PROJECT 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class="right">
      <li>
        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
      </li>
    </ul>
  </body>
</html>
